.vs-testimonial {
  text-align: center;

  .quote-icon {
    display: inline-block;
    margin-bottom: 40px;
  }

  .author-name {
    display: inline-block;
    margin-bottom: 0;
    font-size: 16px;
  }

  .testimonial-desc {
    margin-bottom: 22px;

    p {
      font-size: 24px;
      line-height: 1.6;
    }
  }

  .author-degi {
    font-size: 14px;
    font-weight: 500;
    color: $body-color;
    display: inline-block;
    margin-left: 6px;

    &:before {
      content: '-';
      margin-right: 5px;
    }
  }
}


.avater-fly{
  &.slick-slider,
  .slick-track,
  .slick-list {
    overflow: visible;
    position: static;
    transform: none !important;
  }

  .avater {
    position: absolute;
    cursor: pointer;
    height: auto;
    opacity: 0;
    visibility: visible;
    animation: moving linear infinite 14s;

    &:nth-child(-n+5) {
      opacity: 1;
      visibility: visible;
    }

    &:nth-child(1) {
      left: 70px;
      top: -35px;
      animation-delay: 3s;
    }

    &:nth-child(2) {
      right: 82px;
      top: -30px;
      animation-delay: 1s;
    }

    &:nth-child(3) {
      left: 12px;
      top: 130px;
      animation-delay: 1s;
    }

    &:nth-child(4) {
      right: 12px;
      bottom: 75px;
      animation-delay: 6s;
    }

    &:nth-child(5) {
      left: 82px;
      bottom: 75px;
      animation-delay: 3s;
      animation-direction: reverse;
    }
  }
}


.testimonial-arrow {
  padding-top: 50px;

  .slick-arrow {
    position: relative;
    --pos-x: 0;
    margin-top: 0;
  }
}


.vs-testimonial-box {
  --quote-size: 80px;
  margin-top: calc(var(--quote-size) / 2);
  border: 1px solid rgb(228, 228, 228);
  border-top: 10px solid $theme-color;
  background-color: $white-color;
  text-align: center;
  box-shadow: 0px 10px 36px 0px rgba(0, 0, 0, 0.03);
  padding: 0 40px 30px 40px;
  margin-bottom: 30px;



  .testimonial-text {
    font-size: 20px;
    line-height: 36px;
    font-weight: 500;
    color: $title-color;
    font-style: italic;
    margin-bottom: 10px;
  }


  .author-name {
    font-weight: 600;
    margin-bottom: 3px;
  }

  .testimonial-rating {
    color: $yellow-color;
    font-size: 14px;

    i {
      margin: 0 1px;
    }
  }

  .quote-icon {
    width: var(--quote-size);
    height: var(--quote-size);
    line-height: calc(var(--quote-size) - 2px);
    text-align: center;
    background-color: $theme-color;
    border-radius: 50%;
    margin: calc(var(--quote-size) / -1.6) auto 18px auto;
  }
}


@include lg {
  .avater-fly {
    .avater{
      &:nth-child(1) {
        left: 50px;
        top: 30px;
        width: 80px;
      }

      &:nth-child(2) {
        right: 0px;
        top: 0;
        width: 90px;
      }

      &:nth-child(3) {
        left: 50px;
        top: 230px;
        width: 80px;
      }

      &:nth-child(4) {
        right: 0;
        bottom: 0;
        width: 70px;
        height: 70px;
      }

      &:nth-child(5) {
        left: 82px;
        width: 90px;
        bottom: -50px;
      }

    }
  }

  .vs-testimonial-box {
    --quote-size: 60px;
    padding: 0 30px 30px 30px;
    .testimonial-text {
      font-size: 22px;
      line-height: 32px;
    }

    .author-name {
      font-weight: 600;
      margin-bottom: 3px;
      font-size: 22px;
    }
  }
}


@include lg {
  .vs-testimonial {
    .testimonial-desc {
      margin-bottom: 0;
      
      p {
        font-size: 22px;
        line-height: 1.6;
      }
    }

    .quote-icon {
      margin-bottom: 20px;
    }

    .author-degi {
      font-size: 14px;
      margin-left: 6px;
    }

    .author-name {
      font-size: 22px;
    }
  }

  .testimonial-arrow {
    padding-top: 20px;
  }
}


@include sm {
  .vs-testimonial {
    .author-name {
      display: block;
      font-size: 20px;
    }

    .author-degi {
      font-size: 14px;
      margin-left: 0;

      &:before {
        display: none;
      }
    }
  }
}


@include xs {
  .vs-testimonial-box {
    padding: 0 10px 30px 10px;

    .testimonial-text {
      font-size: 18px;
      line-height: 28px;
    }
  }
}